
*{
    margin: 0;
    padding: 0;
}
.white-container{
    margin: 20px;
}
.container{
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
    line-height: 35px;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.container > p , .container > span{
    font-size: 18px;
}


/* black container */
.black-container{
    background-color: black;
    color: white;
    padding: 20px;
}
.container-2{
    border: 1px solid white;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
    line-height: 35px;
}
.search-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
    margin-top: 10px;
}
.search-container > input{
    height: 35px;
    font-size: 14px;
    padding-left: 20px;
}
button{
    height: 30px;
    width: 100px;
    /* margin-bottom: 80px; */
}
.container-2 > p , .container-2 > span{
    font-size: 18px;
}
.hidden-container{
    display: none;
}